# DNN 모델

- 미리 정리된 학습데이터를 사용
- cross validation 적용
- dnn 적용
- ensemble 적용

In [3]:
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import KFold

In [11]:
train = pd.read_csv('train_01.csv')
train.head()

   Survived  Pclass  Sex  Age  Fare  Cabin  Embarked  Title  FamilySize
0         0       3    0  1.0   0.0    2.0         0      0         0.4
1         1       1    1  3.0   2.0    0.8         1      2         0.4
2         1       3    1  1.0   0.0    2.0         0      1         0.0
3         1       1    1  2.0   2.0    0.8         0      2         0.4
4         0       3    0  2.0   0.0    2.0         0      0         0.0

In [12]:
k_fold = KFold(10)

In [19]:
train_y = train['Survived']
train_x = train.drop('Survived', axis=1)

In [20]:
train_y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [21]:
train_x.head()

   Pclass  Sex  Age  Fare  Cabin  Embarked  Title  FamilySize
0       3    0  1.0   0.0    2.0         0      0         0.4
1       1    1  3.0   2.0    0.8         1      2         0.4
2       3    1  1.0   0.0    2.0         0      1         0.0
3       1    1  2.0   2.0    0.8         0      2         0.4
4       3    0  2.0   0.0    2.0         0      0         0.0

In [27]:
for train_indices, test_indices in k_fold.split(train):
    #print('Train: %s \n| test: %s\n' % (train_indices, test_indices))
    X_train = train_x.iloc[train_indices]
    Y_train = train_y.iloc[train_indices]
    X_test = train_x.iloc[test_indices]
    Y_test = train_y.iloc[test_indices]